body{
  background: #ffffff;
  font-family: 'Arvo', serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.name {
  margin: 5px 5px;
  padding: 5px;
  float: left;
  font-family: 'Playfair Display', serif;
}

.best-work {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.best-work::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 40px;
  background-color: black;
}



/*-------------HEADER SECTION------------*/

.navigation-bar {
  width: 100%;
  margin: 0;
  text-align: center;
  margin: 0px 0px;
}

.fa-twitter{

  color: black;
}

.fa-instagram {
  color: black;
}

.fa-linkedin {
  color: black;
}

nav ul{
  list-style: none;
  padding:0;
  margin:0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 20px 20px;
  padding: 5px 0px;
  position: relative;
  --border-size: 3px;
  
}

nav ul > li > a {
  color:black;
  width: 100px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
 
}

/*dropdown menu*/
.dropbtn {
  color:black;
  width: 100px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn::before{
  content: '';
  position: absolute;
  height: var(--border-size);
  background-color: black;
  transform: scaleX(0);
  top: 0;
  right:0;
  left: 0;
  transition: transform 300ms ease-in-out;
}

.dropbtn:hover::before,
.dropbtn:focus::before{
  transform: scaleX(1);
}

.dropdown-content {
  color:black;
  width: 120px;
  padding: 10px;
  font-size: 10px;
  display: none;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  text-align: left;

  z-index: 1;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color:black;
  width: 100px;
  padding: 10px;
  font-size: 10px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

/*dropdown animation*/
.dropdown-content a:hover{background-color: #ddd;}
.dropdown:hover .dropdown-content{
  background-color: white;
  display: block;
}


/*hover bar animation*/
nav ul > li > a::before {
  content: '';
  position: absolute;
  height: var(--border-size);
  background-color: black;
  transform: scaleX(0);
  top: 0;
  right:0;
  left: 0;
  transition: transform 300ms ease-in-out;
}

nav ul > li > a:hover::before,
nav ul > li > a:focus::before{
  transform: scaleX(1);
}

/*social media icons*/
.fa {
  margin: 10px 5px;
  padding: 10px 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.fa:hover {
  opacity: 0.8;
}


/*-------------CAROUSEL SECTION------------*/

/* Slideshow container */
.carousel-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.carousel-slide {
  display:none;
}

.carousel-container::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-------------LIGHTBOX SECTION------------*/

/* Modal */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.lightbox-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration:none;
  cursor: pointer;
}

.lightbox-slides{
  display:none;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow{
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------ABOUT ME SECTION------------*/

.about-me {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.about-me:after {
  content: '';
  display: block;
  clear: both;
}

.about-me h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.about-me h2::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 40px;
  background-color: black;
}

.about-me .col-left, .about-me .col-right {
  width: 40%;
  float: left;
}

.about-me .col-left {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.about-me .col-left img {
  max-width: 100%;
  border-radius: 50px;
}

.about-me .col-right {
  font-family: 'Oswald', sans-serif;
  text-transform: none;
}

.about-me a {
  text-decoration: none;
  background-color: black;
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

.about-me a:hover {
  background-color: grey;
  color: black;  
}

/*-------------PORTFOLIO SECTION------------*/
.main {
  max-width: 100%;
  margin: auto;
  align-items: flex-start;
}

.main h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.main h2::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 40px;
  background-color: black;
}

.row {
  margin: 8px -16px;
  
}

.row, .row .album {
  padding: 20px;
  
}

.album {
  float: left;
  width: 20%;
  margin-left: 30px;
}

.album::after {
  content: "";
  display: table;
  clear: both;
}

.album-content {
  background-color: #f2f2f2;
  padding: 10px;
  
}

.album-content h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 900px) {
  .album {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .album {
    width: 100%;
  }
}

.trial-run, .syu {
  width: 100%;
}

/*-------------CONTACT SECTION------------*/

.contact-me {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-me h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.contact-me h2::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  left: 50%;
  bottom: 40px;
  background-color: black;
}
section { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
}

.form-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0pc 0px 20px #00000010;
  background-color: #e6e6e6;
  margin-bottom: 20px;
  border-radius: 8px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
  font-family: 'Merriweather', serif;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color:#e6ffff;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: green;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: red;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}