body{
  background: #ffffff;
  font-family: 'Arvo', serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.name {
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.navigation-bar {
  width: 100%;
  margin: 0;
  text-align: center;
}

.fa-twitter{

  color: black;
}

.fa-instagram {
  color: black;
}

nav ul{
  list-style: none;
  padding:0;
  margin:0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 20px 20px;
  padding: 5px 0px;
  position: relative;
  --border-size: 3px;
  
}

nav ul > li > a {
  color:black;
  width: 100px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
 
}

nav ul > li > a::before {
  content: '';
  position: absolute;
  height: var(--border-size);
  background-color: lightgray;
  transform: scaleX(0);
  top: 0;
  right:0;
  left: 0;
  transition: transform 300ms ease-in-out;
}

nav ul > li > a:hover::before,
nav ul > li > a:focus::before{
  transform: scaleX(1);
}

.fa {
  margin: 10px 5px;
  padding: 10px 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}



.fa:hover {
  opacity: 0.8;
}

